.content {
    margin-left: 10vw;
}

h1, h2, h3, h5 {
    font-size: 2em;
    font-family: 'Quicksand', 'Gothic', sans-serif;
    color: #4F6272;
}

li, label {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: slategrey;
}

ul shopping-list {
    list-style: unstyled;
    }
    
    ul shopping-list li:before {
        font-size: large;
        content: '    ';
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #4F6272;
}

a {
    color: #404E5C;
}

a:hover {
    color: #404E5C;
}

#eUp {
    font-size: medium;
}

.nav {
    background-color: white;
    color: #404E5C;
}

.navigate {
    font-family: 'Open Sans', sans-serif;
    color: #404E5C;
}

#rpNav {
    font-size: 2em;
    font-family: 'Quicksand', 'Gothic', sans-serif;
    color: #4F6272;
}

button {
    margin-left: 25px;
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px; /* little bit of a magic number :( */
    overflow: visible;
}

/* 
font-family: 'Audiowide', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
 */