* {
    margin-left:5%;
}

h1 {
    font-size: 2em;
    font-family: 'Major Mono Display', monospace;
}

h2 {
    font-size: 2em;
    font-family: 'Open Sans', cursive;
    color: #4F6272;
}

li {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: slategrey;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #4F6272;
    margin-left: 0px;
}

#eUp {
    font-size: medium;
}

.nav {
    background-color: white;
    color: #404E5C;
}

.navigate {
    font-family: 'Open Sans', sans-serif;
    color: #404E5C;
}

button {
    margin-left: 25px;
}

/* 
font-family: 'Audiowide', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
 */